#  <center>   Extraire les publications du portail HAL de Lyon 2 pour le *Projet Annuel de Performance (PAP)*  </center>
##  <center> <span style="color:red" > *Août 2023* </span> </center> 
<center>  Université Lumière Lyon 2  </center>


- Le notebook décrit la procédure d'importation des publications du portail HAL.
- Nous importons les documents publiés en 2022 (date de publication).

In [51]:
import requests, json, csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', None)
import seaborn as sns

In [52]:
# (1) Afficher le nombre total de publications du portail HAL de Lyon 2
req = requests.get(f"https://api.archives-ouvertes.fr/search/univ-lyon2/?q=*:*&fq=docType_s:ART")
req_json = req.json()
num = req_json["response"]['numFound']
num

27963

In [53]:
# (2) Afficher le nombre de publications 2022 HAL de Lyon 2
req2 = requests.get(f"https://api.archives-ouvertes.fr/search/univ-lyon2/?q=*:*&fq=publicationDateY_i:2022")
req2_json = req2.json()
num_2022 = req2_json["response"]['numFound']
num_2022

3926

In [54]:
# (3) Retirer la liste des publications 2022 de Lyon 2
req3 = requests.get(f"https://api.archives-ouvertes.fr/search/univ-lyon2/?q=*:*&fq=publicationDateY_i:2022&rows=20000\
&fl=publicationDateY_i,docType_s,title_s,doiId_s,domainAllCode_s,\
domain_s,domain_t,primaryDomain_s,journalTitle_s, journalPublisher_s,journalIssn_s,language_s,instStructName_s,\
                     instStructId_i,instStructAcronym_s,openAccess_bool,labStructAcronym_s,labStructName_s,\
                      labStructId_i")
req3_json = req3.json()
liste_2022 = req3_json["response"]['docs']

In [56]:
lyon2_2022_df = pd.DataFrame(liste_2022)
lyon2_2022_df = lyon2_2022_df.sort_values("publicationDateY_i", ascending = False)
lyon2_2022_df.shape

(3926, 18)

In [58]:
# Vérification des valeurs manquantes
lyon2_2022_df.isnull().sum()

openAccess_bool           0
domainAllCode_s           0
domain_s                  0
primaryDomain_s           0
title_s                   0
journalTitle_s         2440
journalPublisher_s     2524
journalIssn_s          2597
labStructId_i            51
labStructAcronym_s       51
labStructName_s          51
instStructId_i            0
instStructAcronym_s       1
instStructName_s          0
language_s                0
docType_s                 0
doiId_s                2708
publicationDateY_i        0
dtype: int64

In [59]:
lyon2_2022_df.groupby(by="docType_s")['title_s'].count()

docType_s
ART            1388
BLOG             56
COMM            962
COUV            725
HDR               3
IMG               3
ISSUE            64
LECTURE           6
MEM              11
NOTICE           52
OTHER            72
OUV             203
POSTER           51
PRESCONF          1
PROCEEDINGS      21
REPORT           93
SOFTWARE         11
SON               2
THESE           108
TRAD              4
UNDEFINED        88
VIDEO             2
Name: title_s, dtype: int64

In [60]:
# Répartition par type de publication dans un tableau
tot_type = lyon2_2022_df.groupby(by="docType_s")['title_s'].count()
perc_type = lyon2_2022_df.docType_s.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

tableau_0 = pd.DataFrame({'Total': tot_type,'Pourcentage': perc_type})
tableau_1 = tableau_0.sort_values("Total", ascending = False)
tableau_1

             Total Pourcentage
ART           1388       35.4%
COMM           962       24.5%
COUV           725       18.5%
OUV            203        5.2%
THESE          108        2.8%
REPORT          93        2.4%
UNDEFINED       88        2.2%
OTHER           72        1.8%
ISSUE           64        1.6%
BLOG            56        1.4%
NOTICE          52        1.3%
POSTER          51        1.3%
PROCEEDINGS     21        0.5%
MEM             11        0.3%
SOFTWARE        11        0.3%
LECTURE          6        0.2%
TRAD             4        0.1%
HDR              3        0.1%
IMG              3        0.1%
VIDEO            2        0.1%
SON              2        0.1%
PRESCONF         1        0.0%